<div class="span11">

  <div class="head-title">
    <h2>

      แก้ไขข้อมูลผู้ใช้
    </h2>
  </div>

  <div class="title-group">
    <div class="title">
      <h3>
        <div class="RG"></div>
        แก้ไขข้อมูลผู้ใช้
      </h3>
    </div>
  </div>

  <div class="control-group string optional user_name">
    <label class="string optional control-label" for="user_name">ชื่อผู้ใช้งาน</label>

    <div class="controls">
      <input autofocus="autofocus" class="string optional" id="user_name" name="user[name]" size="50" type="text" value="First User">
    </div>
  </div>
  <div class="control-group email required user_email">
    <label class="email required control-label" for="user_email"><abbr title="required">*</abbr> Email</label>

    <div class="controls">
      <input class="string email required" id="user_email" name="user[email]" size="50" type="email" value="user@example.com">
    </div>
  </div>



  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Registered</th>
      <th>Role</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.to_date %></td>
          <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
          <td>
            <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini btn-primary" type="button">Change
              role</a>
            <%= render user %>
          </td>
          <td><%= link_to("Delete user", user_path(user), :data => {:confirm => "Are you sure?"}, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>
        </tr>
    <% end %>
    </tbody>
  </table>





</div>
