<ul>
  <li class="clearfix">
    <span class="thumbnial">
      <b>
        <i>
          <% unless a.images.blank? %>
              <%= image_tag(a.images.first.attachment_url(:thumbnail)) %>
          <% else %>
              <%= image_tag 'thumb/components.png' %>
          <% end %>
        </i>
      </b>
    </span>

    <span class="name"><a href="/บ้านกันต์-baan-gunn-บางแสน"> <%= a.name %></a><img alt="Update" src="http://r1.static.in.th/assets/update.gif"></span>
    <span class="addr"><%= "#{a.street} #{a.road} #{a.district.name} #{a.amphur.name} #{a.province.name}" %></span>
    <span class="room_available  "><%= "มีห้องว่าง" if a.room_available %></span>

    <div class="pbox span3">
      <span class="price"><%= price_rate_permonth(a) %><b> บาท/เดือน</b></span>

      <span class="price"><%= price_rate_perday(a) %> <b>บาท/วัน</b></span>
    </div>
  </li>
</ul>