<%= render :partial => 'shared/head', :locals => {:current => 'home'} %>
<%= render partial: 'shared/search_box' %>

<div id="category">
  <div id="general-content" class="category-left first_column">
    <div id="result_panel">
      <div class="general-bar">
        <%= image_tag "icon-intro.png", :width => '16', :height => '16', :class => 'icon-bar' %>
        <p>อพาร์ทเม้นท์ ห้องพัก หอพัก แนะนำทั่วไป</p>
        <%= image_tag "icon-all.png", :width => '53', :height => '19', :class => 'general-more' %>
      </div>

      <%= render 'home/exclusive' %>
    </div>

  </div>

  <div class="category-right">
    <img alt="Web-banner01" height="173" src="/assets/web-banner01.jpg" style="margin:32px 0 20px 0;" width="300">
    <img alt="Web-banner02" height="127" src="/assets/web-banner02.jpg" style="margin:25px 0 0 0;" width="300">

  </div>


  <div id="general-content" class="category-left first_column">
    <div id="result_panel">
      <% unless @apartments.nil? %>

          <div class="general-bar">
            <%= image_tag "icon-intro.png", :width => '16', :height => '16', :class => 'icon-bar' %>
             <p>อพาร์ทเม้นท์ ห้องพัก หอพัก แนะนำทั่วไป</p>
            <%= image_tag "icon-all.png", :width => '53', :height => '19', :class => 'general-more' %>
          </div>


          <% @apartments.each do |apartment| %>
              <%= render 'home/apartments', :a => apartment %>
          <% end %>


      <% end %>
    </div>


  </div>


  <div class="category-left first_column pull-center">
    <%= will_paginate @apartments, :renderer => BootstrapPagination::Rails %>
  </div>
  <div class="clearfix"></div>

</div>
