<%= render :partial => 'shared/head', :locals => {:current => 'home'} %>
<%= render partial: 'shared/search_box' %>

<div id="category">




    <div id="node-51120" class="node sticky clear-block category-left first_column" itemscope="" itemtype="http://schema.org/BlogPosting">

      <div class="content-title-box">
        <h2 itemprop="name">
          <a href="/node/51120" title="[Ask Blognone] ขอเชิญโพสต์แอพของท่านเพื่อทำ Thai App Developer Directory">อพาร์ทเม้นท์ ห้องพัก หอพัก แนะนำทั่วไป</a></h2>

        <div class="sticky-badge"></div>
      </div>
      <!--content-title-box-->


      <div class="content">
        <%= render 'home/exclusive' %>


      </div>
      <!--content-->


    </div>



  <div class="category-right">
    <img alt="Web-banner01" height="173" src="/assets/web-banner01.jpg" style="margin:32px 0 20px 0;" width="300">
    <img alt="Web-banner02" height="127" src="/assets/web-banner02.jpg" style="margin:25px 0 0 0;" width="300">

    <div class="clearfix"></div>
    <%= render 'shared/facebook_likebox' %>
  </div>


  <div  class="node clear-block category-left first_column">

    <div class="content-title-box">
      <h2 itemprop="name">
        <a href="/node/51120" title="[Ask Blognone] ขอเชิญโพสต์แอพของท่านเพื่อทำ Thai App Developer Directory">อพาร์ทเม้นท์ ห้องพัก หอพัก แนะนำทั่วไป</a></h2>


    </div>
    <!--content-title-box-->


    <div class="content">
      <% unless @apartments.nil? %>
          <% @apartments.each do |apartment| %>
              <%= render 'home/apartments', :a => apartment %>
          <% end %>
      <% end %>


    </div>
    <!--content-->


  </div>




  <div class="category-left first_column pull-center">
    <%= will_paginate @apartments, :renderer => BootstrapPagination::Rails %>
  </div>
  <div class="clearfix"></div>

</div>
