<div class="span11">
  <h2>Sign in</h2>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical'}) do |f| %>
      <%= f.input :email, :autofocus => true %>
      <%= f.input :password %>
      <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "เข้าสู่ระบบ", :class => 'btn-primary' %>

      <%= render "devise/shared/links" %>
  <% end %>

  <div class="fb_login">

    <h2>ล็อกอินด้วย Facebook Account </h2>

    <a href="/users/auth/facebook" class="login_with facebook">Login with Facebook</a>
    <p class="hint">ใช้งานได้ทันที โดยไม่ต้องยืนยันอีเมล</p>

  </div>

</div>
