<div class="span11">
  <div class="row-fluid">
    <div class="span8">
      <h1><%= t('activerecord.models.apartment') %></h1>
    </div>
    <div class="span4 pull-bottom">
      <%= link_to "เพิ่ม#{t('activerecord.models.apartment')}"  , new_apartment_path, :class => "btn btn-success pull-right" %>
    </div>
  </div>


  <table class="table table-bordered">
    <tr>
      <th>ชื่อ</th>
      <th>จำนวนการเข้าชม</th>
      <th>เครื่องมือ</th>
    </tr>

    <% @apartments.each do |apartment| %>
        <tr>
          <td><%= link_to apartment.name, edit_apartment_path(apartment) %></td>
          <td></td>
          <td><%= link_to 'แก้ไข', edit_apartment_path(apartment), :class => "btn btn-primary btn-mini" %>
            <%= link_to 'ลบ', apartment, method: :delete, data: {confirm: t('notice.delete_confirm')}, :class => "btn btn-danger btn-mini" %></td>
        </tr>
    <% end %>
  </table>

  <%= will_paginate @apartments, :renderer => BootstrapPagination::Rails %>

</div>
