<%= link_to "Horpak", root_path, :class => 'brand' %>
<ul class="nav">
  <li><%= link_to "Apartment", apartments_path %></li>


  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'เข้าสู่ระบบ', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>

  <li class="dropdown" id="nav-user">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      config
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="">
        <%= link_to "facilities", facilities_path %>
      </li>
      <li class="">
        <%= link_to "central facilities", central_facilities_path %>
      </li>

    </ul>
  </li>


</ul>

<% unless current_user.nil? -%>
    <ul class="nav pull-right">

      <li class="dropdown" id="nav-user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

          <%= image_tag current_user.avatar_url, :alt => "Gravatar", :class => "avatar" unless current_user.avatar.blank? %>
          <%= current_user.email unless current_user.nil? %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li class="">
            <%= link_to "แก้ไขบัญชี", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "ออกจากระบบ", destroy_user_session_path, :method => :delete %>
          </li>
        </ul>
      </li>
    </ul>
<% end -%>
