<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "siamhorpak.com | อพาร์ทเม้นท์ ห้องพัก หอพัก ในประเทศไทย" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "siamhorpak.com | อพาร์ทเม้นท์ ห้องพัก หอพัก ในประเทศไทย" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">



<div id="main" role="main">

  <%= yield %>
  <footer>
    <%= render 'layouts/footer' %>
    <%= yield :scripts %>
  </footer>
</div> <!--! end of #main -->
</body>
</html>
